# =========================================
# MIKROC
# =========================================

**/*.asm
**/*.hex
**/*.lst
**/*.mcppi
**/*.bak
**/*.log
**/*.err
**/*.cfg
**/*.ini
**/*.dct
**/*.dbg
**/*.obj
**/*.exe

# =========================================
# PROTEUS
# =========================================

**/*.pdsbak
**/*.pdsprj.bak
**/*.backup

# =========================================
# TEMP FILES
# =========================================

**/*.tmp
**/*.temp
**/*.cache

# =========================================
# BUILD DIRECTORIES
# =========================================

build/
dist/
Build/
Debug/
Release/

# =========================================
# VSCODE
# =========================================

.vscode/

# =========================================
# WINDOWS
# =========================================

Thumbs.db
Desktop.ini

# =========================================
# MACOS
# =========================================

.DS_Store