# =========================
# PROTEUS / MPLAB / EMBEDDED
# =========================

# Backups
Project Backups/

# Historique automatique
__history/

# Fichiers générés compilation
*.STA
*.cof
*.sym
*.tre
*.xsym
*.esym
*.err
*.lst
*.hex

# Autosave Proteus
*Autosaved*.pdsprj

# Workspace utilisateur
*.workspace

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# WINDOWS
# =========================

Thumbs.db
Desktop.ini